body {
  background-color: #DBDBD7;
}

img {
  width: 100px;
  height: 85px;
  float: left;
  clear: both;
  padding-bottom: 10px;
}

h5 {
  font-style: italic;
  margin: 0;
}

.page-footer {
  position: relative;
  clear: both;
  background-color: #F4B3A3;
}

#destroy {
  float: none;
  text-align: center;
  margin: 15px auto;
}

.btn {
  float: right;
  margin: 0 0 0 8px;
}

ul {
  list-style-type: none;
}

.deleteLink,
.properLink {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.properLink {
  color: blue;
}

.deleteLink {
  color: grey;
}

.inlineForm {
  display:inline;
}

.error {
  color: red;
}

.success {
  color: green;
}

.manila {
  background-color: #E0DFB8;
}

.blue {
  background-color: #B8B9E0;
}

.grey {
  background-color: #B1B2B5;
}
